<template>
    <div class="container"
         ref="container"
         :style="transformStyle"></div>
</template>

<script>
  import bodymovin from 'bodymovin'
  import { Observable } from 'rxjs'
  import PositionMixin from '@/components/core/mixins/PositionMixin.js'

  export default {
    name: 'is-bm-anim',
    mixins: [PositionMixin],
    data () {
      return {
        isInitialised: false
      }
    },
    props: {
      animationData: Object
    },
    methods: {
      play$ (reverse = false, forceFromStart = false) {
        return Observable.create((o) => {
          this.anim.setDirection(reverse ? -1 : 1)
          if (forceFromStart) this.anim.goToAndPlay(0)
          else this.anim.play()

          this.playerCount++

          Observable.fromEvent(this.anim, 'complete').take(1)
            .subscribe(() => {
              o.next()
              o.complete()
            })

          return () => {
            this.playerCount--
            if (this.playerCount === 0) {
              this.anim.stop()
            }
          }
        })
      },

      playSegment$ (start, end) {
        return Observable.create((o) => {
          this.anim.playSegments([start, end], true)

          this.playerCount++

          Observable.fromEvent(this.anim, 'complete').take(1)
            .subscribe(() => {
              o.next()
              o.complete()
            })

          return () => {
            this.playerCount--
            if (this.playerCount === 0) {
              this.anim.stop()
            }
          }
        })
      },

      stop () {
        this.anim.stop()
        this.anim.loop = false
      }
    },

    created () {
      this.playerCount = 0
    },

    mounted () {
      this.anim = bodymovin.loadAnimation({
        container: this.$refs.container,
        renderer: 'svg',
        loop: false,
        autoplay: false,
        autoloadSegments: false,
        animationData: this.animationData
      })
    },

    destroyed () {
      this.anim.stop()
      this.anim.destroy()
    }
  }
</script>

<style scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>