<template>
  <div class="game-container">
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'is-game-container'
}
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
