<template>
    <div class="game">
        <is-svg-sprite :glyph="background" class="background"></is-svg-sprite>
        <is-navigation @back="onBackClicked()" @forward="onForwardClicked()"></is-navigation>

        <slot></slot>
    </div>
</template>

<script>
  import SvgSprite from '@/components/core/SvgSprite.vue'
  import NavigationComponent from '@/components/shared/NavigationComponent.vue'

  export default {
    name: 'is-game',
    components: {
      'is-svg-sprite': SvgSprite,
      'is-navigation': NavigationComponent
    },
    mixins: [
    ],
    props: {
      background: Object
    },

    methods: {
      onBackClicked () {
        this.$emit('navigateBack')
      },

      onForwardClicked () {
        this.$emit('navigateForward')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .game, .background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
</style>
