<template>
    <svg :viewBox="glyph.viewBox"
         :width="glyph.viewBox.split(' ')[2]"
         :height="glyph.viewBox.split(' ')[3]">
        <use :xlink:href="'#' + glyph.id"/>
    </svg>
</template>

<script>
  export default {
    name: 'is-svg-sprite',
    props: {
      glyph: Object,
      width: Number,
      height: Number
    }
  }
</script>

<style lang="scss" scoped>

</style>