<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">

        <is-bm-anim v-show="gameState === gameStates.intro"
                    class="intro-anim"
                    ref="animIntro"
                    key="anim-intro"
                    :animationData="introAnim"
                    :posX="158"
                    :posY="-5"></is-bm-anim>

        <is-bm-anim v-show="gameState !== gameStates.intro"
                    class="game-anim"
                    ref="animGame"
                    key="anim-game"
                    :animationData="gameAnim"
                    :posX="158"
                    :posY="-5"></is-bm-anim>

        <is-interactive-target v-for="(target, key) in targetsData"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="target.matchId"
                               :glyph="glyphs[target.glyph]"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="target.pos.x"
                               :posY="target.pos.y"></is-interactive-target>

        <is-draggable v-for="(item, key) in itemsData"
                      :id="'$d-' + key"
                      :ref="'$d-' + key"
                      :key="key"
                      :matchId="item.matchId"
                      :animateTo="'$t-' + item.animateTo"
                      :glyph="glyphs[item.glyph]"
                      :posX="item.pos.x"
                      :posY="item.pos.y"
                      @dragStopped="onDragStopped"></is-draggable>

        <is-type-in v-for="(input, key) in inputsData"
                    v-show="showInput === key"
                    :key="'$i-' + key"
                    :ref="'$i-' + key"
                    class="inputs end-with-dot"
                    :solution="input.solution"
                    :preText="input.preText"
                    :isLocked="(gameState !== gameStates.interactive)"
                    :arrowDirection="input.arrowDirection"
                    :openDirection="input.openDirection"
                    @solved="onTypeInSolved"
                    :posX="452"
                    :posY="408"></is-type-in>

        <is-bubble class="bubble left"
                   ref="bbJakob"
                   key="bJakob"
                   :posX="536"
                   :posY="40"></is-bubble>

        <is-bubble class="bubble right"
                   ref="bbAna"
                   key="bAna"
                   :posX="536"
                   :posY="40"></is-bubble>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'
  import { TimelineLite } from 'gsap'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
  import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
  import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'

  import DraggableComponent from '@/components/shared/DraggableComponent'
  import TypeInComponent from '@/components/shared/TypeInComponent.vue'

  import background from '@/assets/jedilnica/kosare/sadnaKupa/background.svg'

  import introAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo.json'
  import gameAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo-poskusi-se-ti.json'

  import sprites from './SadnaKupaSestaviAssets'
  import { targetsData, itemsData, inputsData, linesData } from './SadnaKupaSestaviData'

  export default {
    name: 'is-sadna-kupa-sestavi',
    mixins: [
      GameBasicMixin,
      GameUtilsMixin,
      StoreInputsMixin,
      StoreTargetsMixin
    ],
    components: {
      'is-draggable': DraggableComponent,
      'is-type-in': TypeInComponent
    },
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background: background,
          introAnim: introAnim,
          gameAnim: gameAnim,
          targetsData: {},
          itemsData: {},
          inputsData: {},
          showInput: '',
          activeItems: [],
          bowlDropPosition: {x: 378, y: 506}
        }
      )
    },

    computed: {
      canInteract () {
        return this.gameState !== this.gameStates.interactive
      }
    },

    methods: {
      onDragStopped (dragEl, dragElPos) {
        let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

        if (target) {
          this.activeItems.splice(this.activeItems.indexOf(dragEl), 1)
          dragEl.lock()

          this.lockActiveItems()

          this.animateToBowl$(dragEl, this.bowlDropPosition, 0.4, this.items.length - this.activeItems.length)
            .subscribe(null, null, () => {
              let key = dragEl.$attrs.id.split('-')[1]
              let ref = '$i-' + dragEl.$attrs.id.split('-')[1]
              let input = this.$refs[ref][0]

              this.showInput = key
              input.open()
            })
        } else {
          dragEl.moveToStartPosition()
        }
      },

      onTypeInSolved () {
        this.solvedTimeout = setTimeout(() => {
          this.showInput = ''

          if (this.isGameSolved()) {
            this.startEnd()
          } else {
            this.unlockActiveItems()
          }
        }, 1600)
      },

      lockActiveItems () {
        this.activeItems.forEach(item => {
          item.lock()
        })
      },

      unlockActiveItems () {
        this.activeItems.forEach(item => {
          item.unlock()
        })
      },

      isGameSolved () {
        return this.activeItems.length < this.items.length - 2
      },

      resetScene () {
        this.$refs.endModal.hide()
        this.bbAna.hide()
        this.bbJakob.hide()

        this.showInput = ''
        this.items.forEach((item) => {
          item.lock()
          item.moveToStartPosition()
          item.$el.style.zIndex = 99
        })
        this.inputs.forEach((input) => input.reset())
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()

        this.introAnim$ = Observable.timer(1000)
          .flatMap(() => Observable.zip(
            this.bbAna.show$(this.linesData.ana1),
            this.introAnimRef.playSegment$(0, 93))
            .do(() => this.bbAna.hide()))

          .delay(1000)

          .flatMap(() => Observable.zip(
            this.bbJakob.show$(this.linesData.jakob1),
            this.introAnimRef.playSegment$(93, 174)))

          .flatMap(() => Observable.zip(
            this.bbJakob.show$(this.linesData.jagode),
            this.animateToBowl$(this.$refs['$d-jagoda'][0], this.bowlDropPosition, 2, 1),
            this.introAnimRef.playSegment$(174, 207)))

          .flatMap(() => Observable.zip(
            this.bbJakob.show$(this.linesData.borovnice),
            this.animateToBowl$(this.$refs['$d-borovnica'][0], this.bowlDropPosition, 2, 2),
            this.introAnimRef.playSegment$(207, 237)))

          .flatMap(() => Observable.zip(
            this.bbJakob.show$(this.linesData.banane),
            this.animateToBowl$(this.$refs['$d-banana'][0], this.bowlDropPosition, 2, 3),
            this.introAnimRef.playSegment$(237, 267))
            .do(() => this.bbJakob.hide()))

          .delay(1000)
          .subscribe(null, null, () => this.startInteraction())
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()

        this.activeItems = Array.from(this.items)

        this.gameAnim$ = Observable.timer(1000)
          .flatMap(() => Observable.zip(
            this.bbAna.show$(this.linesData.poskusi),
            this.gameAnimRef.playSegment$(0, 77))
            .do(() => this.bbAna.hide()))
          .flatMap(() => Observable.zip(
            this.bbAna.show$(this.linesData.ana2),
            this.gameAnimRef.playSegment$(77, 151))
            .do(() => this.bbAna.hide()))

          .subscribe(null, null, () => {
            this.unlockActiveItems()
          })
      },

      startEnd () {
        this.setStateToEnd()

        this.outroAnim$ = Observable.zip(
          this.bbAna.show$(this.linesData.doberTek),
          this.gameAnimRef.playSegment$(151, 160))
          .delay(1000)
          .do(() => this.bbAna.hide())
          .subscribe(null, null, () => {
            const dialog = this.endDialogs.get(this.$route.name)
            this.$refs.endModal.show(dialog)
          })
      },

      animateToBowl$ (item, pos, duration, zIndexOff) {
        console.log('sdlkfghjsldkfg')
        console.log('hello', item, item.$el)
        return Observable.create((observer) => {
          let tween = new TimelineLite({
            onComplete: () => {
              observer.next()
              observer.complete()
            }
          })
            .set(item.$el, {css: {zIndex: (100 + zIndexOff)}})
            .to(item, duration, {
              currentX: pos.x - item.originalBounds.width / 2,
              currentY: pos.y - item.originalBounds.height,
              onComplete: () => {
                observer.next()
                observer.complete()
              }
            })

          return () => {
            tween.kill()
          }
        })
      }
    },

    created () {
      this.targetsData = targetsData.get(this.$route.name)
      this.itemsData = itemsData.get(this.$route.name)
      this.inputsData = inputsData.get(this.$route.name)

      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.items = Object.keys(this.$refs)
        .filter((val) => val.includes('$d'))
        .map(key => this.$refs[key][0])

      this.introAnimRef = this.$refs.animIntro
      this.gameAnimRef = this.$refs.animGame

      this.bbAna = this.$refs.bbAna
      this.bbJakob = this.$refs.bbJakob

      this.startIntroAnimation()
      // this.startInteraction()
    },

    destroyed () {
      this.stopIntroAnimation()
      clearTimeout(this.solvedTimeout)

      if (this.outroAnim$) {
        this.outroAnim$.unsubscribe()
      }

      if (this.gameAnim$) {
        this.gameAnim$.unsubscribe()
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';
</style>
