<template>
    <transition name="fade">
        <div v-show="isVisible"
             class="bubble"
             :style="transformStyle"
             @click="onClicked()">
            <div class="text" v-html="text"></div>
        </div>
    </transition>
</template>

<script>
  import { Observable } from 'rxjs'

  import PositionMixin from '@/components/core/mixins/PositionMixin.js'

  export default {
    name: 'is-bubble',
    mixins: [PositionMixin],
    data () {
      return {
        isVisible: false,
        text: ''
      }
    },
    methods: {
      show$ (text) {
        return Observable.of(text)
          .do((text) => {
            this.text = text
            this.isVisible = true
          })
      },
      show (text) {
        this.text = text
        this.isVisible = true
      },
      hide () {
        this.isVisible = false
      },
      toggle () {
        this.isVisible = !this.isVisible
      },
      onClicked () {
        this.$emit('clicked')
      }
    },

    created () {
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .bubble {
        position: absolute;
        transform-origin: bottom left;
        top: 0;
        left: 0;

        max-width: 375px;
        padding: 40px;
        background: white;
        border-radius: 80px;
        z-index: $character-z-index;

        &.left:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 64px;
            right: auto;
            top: auto;
            bottom: -38px;
            border: 20px solid;
            border-color: white transparent transparent white;
        }

        &.right:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: auto;
            right: 64px;
            top: auto;
            bottom: -38px;
            border: 20px solid;
            border-color: white white transparent  transparent;
        }

        .text {
            font-size: 26px;
            font-weight: bold;
            text-align: left;
            color: #333;
            text-transform: uppercase;
        }
    }

    span.red {
      display: block;
      color: red;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to {
        opacity: 0
    }
</style>
