<template>
    <div @click="onClick()"
         class="button"
         :style="transformStyle">
        <slot>
            Text
        </slot>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 52">
            <path d="M57.25 23.64L33.67 1.44c-.63-.6-1.46-.9-2.32-.9-1.87 0-3.4 1.5-3.4 3.38V16.2H3.43c-1.87 0-3.4 1.5-3.4 3.38v13.05c0 1.87 1.53 3.4 3.4 3.4h24.54V48.3c0 1.85 1.52 3.37 3.4 3.37.86 0 1.68-.33 2.3-.92l23.6-22.2c.66-.63 1.05-1.53 1.05-2.46 0-1-.38-1.9-1.05-2.5zM30.2 32.38H3.66V19.83H30.2c.77 0 1.4-.63 1.4-1.4V4.5l22.95 21.6L31.6 47.7V33.8c0-.77-.63-1.4-1.4-1.4zm.93 16.44h-.03.03zm-.13-.07l-.03-.02s.02 0 .03.02zm-.13-.13zm-.06-.13v-.1.02zm0-44.8v.03zm.1-.17zm.1-.13h.07l-.02.02zm.17-.07zm.5 0zm-.15-.06h-.02.02zm-.2 0h.05-.03zm0 45.5h.05-.03zm.36-.05h-.02.03zm-.16.05h-.04.02z"/>
        </svg>
    </div>
</template>

<script>
  import PositionMixin from '@/components/core/mixins/PositionMixin.js'

  export default {
    name: 'is-button',
    mixins: [PositionMixin],
    methods: {
      onClick () {
        this.$emit('clicked')
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .button {
        position: absolute;
        top: 0;
        left: 0;

        font-family: "Arial Black", Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        padding: 8px 12px 6px 12px;

        cursor: pointer;
        user-select: none;

        background-color: $ui-green;

        border-radius: 10px;
        box-shadow: 0 4px 0 $ui-green-shadow;

        & .icon {
            display: none;
        }

        &.big {
            font-size: 26px;
        }

        &.blue {
            background-color: $ui-blue;
            box-shadow: 0 4px 0 $ui-blue-shadow;
        }

        &.violet {
            display: flex;
            background-color: $ui-violet;
            box-shadow: 0 4px 0 $ui-violet-shadow;

            color: $ui-text-gold;

            border-radius: 4px;
            font-size: 18px;

            & .icon {
                display: block;
                width: 26px;
                height: 26px;
                margin-left: 14px;
                fill: $ui-text-gold;
            }
        }

        &:active {
            box-shadow: none !important;
            margin-top: 4px;
        }
    }
</style>
