<template>
    <div @click.stop="clickHandler()" class="check-mark"
         :style="transformStyle">
    </div>
</template>

<script>
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-check-mark',
    mixins: [PositionMixin],
    computed: {},
    methods: {
      clickHandler () {
        this.$emit('clicked')
      }
    },
    mounted () {
    }
  }
</script>

<style lang='scss' scoped>
    @import "../../styles/arrows";
    @import "../../styles/colors";

    .check-mark {
        position: absolute;
        width: 60px;
        height: 50px;
        border-radius: 6px;

        &.no-events {
            pointer-events: none;
        }

        &.animate {
            animation: appear 0.3s ease-in;
        }

        &.interaction {
            cursor: pointer;
        }

        &.correct {
            background-color: $ui-green;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2042%2031%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%20d%3D%22M38.6%202.96c-.76-.77-1.77-1.2-2.86-1.2-1.06%200-2.05.4-2.8%201.14L15.66%2019.8l-6.72-6.57c-.75-.74-1.75-1.14-2.8-1.14-1.1%200-2.1.4-2.87%201.2-.75.74-1.16%201.75-1.14%202.82%200%201.07.44%202.07%201.2%202.82l9.53%209.3c.75.75%201.75%201.16%202.8%201.16%201.06%200%202.05-.4%202.8-1.14l20.1-19.63c.76-.75%201.2-1.75%201.2-2.82%200-1.04-.4-2.05-1.15-2.82z%22%2F%3E%3C%2Fsvg%3E");
            background-position: 50% 50%;
            background-size: 42px 31px;
            background-repeat: no-repeat;
        }

        &.write {
            background-color: $ui-brown;
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.86 4.78l-2.82-2.82a4.42 4.42 0 0 0-6.3 0L5.6 19.09c-.48.48-3.22 3.7-3.3 5.08L.17 33.65l9.6-2.17.06-.04c.42-.24 4.1-2.43 4.9-3.23l17.13-17.13a4.46 4.46 0 0 0 0-6.3zm-27.81 25l1-4.46 3.45 3.44-4.45 1.01zm21.18-16.2L12.68 26.11c-.13.13-.61.48-1.58 1.1L6.5 22.6a13 13 0 0 1 1.2-1.44L20.24 8.59l4.98 4.98zm.66-10c.4 0 .8.16 1.08.45l2.82 2.82a1.53 1.53 0 0 1 0 2.16l-2.49 2.5-4.98-4.99 2.5-2.49a1.5 1.5 0 0 1 1.07-.45z' fill='%23FFF'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-size: 34px 34px;
            background-repeat: no-repeat;
        }

        &.right:after,
        &.left:after,
        &.top:after,
        &.bottom:after {
            position: absolute;
            content: "";
        }

        &.right:after {
            top: 13px;
            left: 98%;
        }

        &.left:after {
            top: 13px;
            left: -11px;
        }

        &.top:after {
            top: -11px;
            left: 18px;
        }

        &.bottom:after {
            top: 98%;
            left: 18px;
        }

        &.correct.right:after {
            @include arrow(right, $ui-green, 12px);
        }

        &.correct.left:after {
            @include arrow(left, $ui-green, 12px);
        }

        &.correct.top:after {
            @include arrow(top, $ui-green, 12px);
        }

        &.correct.bottom:after {
            @include arrow(bottom, $ui-green, 12px);
        }

        &.write.right:after {
            @include arrow(right, $ui-brown, 12px);
        }

        &.write.left:after {
            @include arrow(left, $ui-brown, 12px);
        }

        &.write.top:after {
            @include arrow(top, $ui-brown, 12px);
        }

        &.write.bottom:after {
            @include arrow(bottom, $ui-brown, 12px);
        }
    }
</style>
