<template>
    <div ref="target"
         class="target"
         :class="{ dragged: isDragged, interact: canInteract }"
         :style="transformStyle">
        <is-svg-sprite :glyph="glyph"></is-svg-sprite>
    </div>
</template>

<script>
  import { Observable } from 'rxjs'
  import PositionMixin from '@/components/core/mixins/PositionMixin'
  import SvgSprite from '@/components/core/SvgSprite'

  export default {
    name: 'is-draggable',
    components: {
      'is-svg-sprite': SvgSprite
    },
    mixins: [PositionMixin],
    data () {
      return {
        isDragged: false,
        isLocked: false,
        originalBounds: {width: 0, height: 0}
      }
    },
    props: {
      animateTo: String,
      matchId: String,
      glyph: Object
    },
    computed: {
      screenPosition () {
        return this.$store.state.screenPosition
      },
      screenScale () {
        return this.$store.state.screenScale
      },
      screenSize () {
        return this.$store.state.screenSize
      },
      canInteract () {
        return !this.isLocked
      }
    },
    methods: {
      lock () {
        this.isLocked = true
      },

      unlock () {
        this.isLocked = false
      },

      transformPosition (x, y) {
        let mouseX = (x - this.screenPosition.x) / this.screenScale
        let mouseY = (y - this.screenPosition.y) / this.screenScale

        return {
          x: Math.max(0, Math.min(mouseX, this.screenSize.width)),
          y: Math.max(0, Math.min(mouseY, this.screenSize.height))
        }
      },

      bounds () {
        return this.$el.getBoundingClientRect()
      },

      move (x, y) {
        this.currentX = x - this.$el.offsetWidth / 2
        this.currentY = y - this.$el.offsetHeight / 2
      },

      moveToStartPosition () {
        this.currentX = this.originalX
        this.currentY = this.originalY
      },

      reset () {
        this.moveToStartPosition()
      }
    },

    mounted () {
      let bounds = this.$refs.target.getBoundingClientRect()
      this.originalBounds = {
        width: bounds.width / this.screenScale,
        height: bounds.height / this.screenScale
      }

      let down$ = Observable.race(
        Observable.fromEvent(this.$refs.target, 'mousedown')
          .map((evt) => {
            return {x: evt.clientX, y: evt.clientY}
          }),
        Observable.fromEvent(this.$refs.target, 'touchstart')
          .map((evt) => {
            let t = evt.targetTouches[0]
            return {x: t.clientX, y: t.clientY}
          })
      )

      let up$ = Observable.race(
        Observable.fromEvent(window, 'mouseup').take(1),
        Observable.fromEvent(window, 'touchend').take(1),
        Observable.fromEvent(window, 'touchcancel').take(1)
      )

      let move$ = Observable.merge(
        Observable.fromEvent(window, 'touchmove')
          .map((evt) => {
            let t = evt.touches[0]
            return {x: t.clientX, y: t.clientY}
          }),
        Observable.fromEvent(window, 'mousemove')
          .map((evt) => {
            return {x: evt.clientX, y: evt.clientY}
          })
      )
        .takeUntil(up$)

      down$
        .filter(() => this.canInteract === true)
        .do((_) => {
          this.isDragged = true
          this.$emit('dragStarted')
        })
        .switchMap((pos) => move$
          .startWith(pos)
          .takeWhile(() => this.canInteract === true)
          .takeUntil(up$
            .do((_) => {
              this.isDragged = false
            })
            .do((_) => {
              this.$emit('dragStopped', this, {
                x: this.currentX + this.$el.offsetWidth / 2,
                y: this.currentY + this.$el.offsetHeight / 2
              })
            })
          )
        )
        .map(({x, y}) => this.transformPosition(x, y))
        .subscribe(({x, y}) => {
          this.move(x, y)
        })
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .target {
        position: absolute;
        transform-origin: center;

        pointer-events: none;

        &.interact {
            cursor: pointer;
            pointer-events: auto;

            &:hover {
            }
        }

        &.dragged {
            pointer-events: none;
            z-index: $drag-z-index !important;
        }
    }
</style>
