<template>
    <transition name="fade">
        <div v-show="isVisible" class="end-game-modal">
            <div v-if="isScreen === 1">
                <div class="text">Prvi del igre si <span class="correct">pravilno</span> rešil.</div>
                <is-button @clicked="onClicked()" class="btn-modal"><div class="btn-text">Nadaljuj na 2. del</div></is-button>
            </div>
            <div v-if="isScreen === 2">
                <div class="title">Čestitke!</div>
                <div class="text">Pravilno si rešil igro.</div>
                <is-button @clicked="onClicked()" class="btn-modal"><div class="btn-text">Naslednja igra</div></is-button>
            </div>
            <div v-if="isScreen === 3">
                <div class="title">Čestitke!</div>
                <div class="text">Pravilno si rešil igro.</div>
                <is-button @clicked="onClicked()" class="btn-modal blue"><div class="btn-text">Nazaj domov</div></is-button>
            </div>
        </div>
    </transition>
</template>

<script>
  import Button from '@/components/shared/ButtonComponent.vue'

  export default {
    name: 'is-end-game-modal',
    components: {
      'is-button': Button
    },
    data () {
      return {
        isVisible: false,
        isScreen: 1
      }
    },
    methods: {
      show (screen) {
        this.isScreen = screen
        this.isVisible = true
      },
      hide () {
        this.isVisible = false
      },
      toggle () {
        this.isVisible = !this.isVisible
      },
      onClicked () {
        this.$emit('forward')
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .end-game-modal {
        position: absolute;
        z-index: $modal-z-index;
        width: 570px;

        padding: 50px 90px;

        left: 382px;
        top: 160px;

        background-color: white;

        .title {
            color: $ui-orange;
            text-transform: uppercase;
            font-size: 68px;
        }

        .text {
            font-size: 40px;
            margin-bottom: 40px;

            .correct {
                text-transform: uppercase;
                color: $ui-green;
            }
        }

        .btn-modal {
            position: relative;

            .btn-text {
                font-size: 28px;
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to {
        opacity: 0
    }
</style>
