<template>
    <div class="container"
         :class="{ 'interact': canInteract }"
         :style="transformStyle">
        <is-check-mark v-show="isSolved"
                       class="mark-position bottom correct animate no-events"></is-check-mark>
        <div class="target" :style="{ width: width + 'px', height: height + 'px' }"></div>
    </div>
</template>

<script>
  import CheckMarkComponent from '@/components/shared/CheckMarkComponent.vue'
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-interactive-target-blank',
    components: {
      'is-check-mark': CheckMarkComponent
    },
    mixins: [PositionMixin],
    props: {
      matchId: String,
      posX: Number,
      posY: Number,
      width: Number,
      height: Number,
      isLocked: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        isSolved: false
      }
    },
    computed: {
      canInteract () {
        return !this.isSolved && !this.isLocked
      }
    },

    methods: {
      setSolved () {
        this.isSolved = true
      },
      reset () {
        this.isSolved = false
      },
      bounds () {
        return this.$el.getBoundingClientRect()
      },
      center () {
        let bounds = this.bounds()
        return {
          x: this.posX + bounds.width / 2,
          y: this.posY + bounds.height / 2
        }
      }
    },
    mounted () {
    }
  }
</script>

<style lang="scss" scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;

        pointer-events: none;

        transition: stroke-width .3s;

        &.interact {
            pointer-events: inherit;

            &:hover {
                fill: none;;
                stroke: #646464;
                stroke-width:1px;
                stroke-dasharray: 2,2;
                stroke-linejoin: round;
            }
        }
    }

    .target {
      opacity: 0;
    }

    .mark-position {
        left: calc(50% - 30px);
        top: -50px;
    }
</style>
