<template>
    <transition name="fade">
        <div v-show="!isSolved || !hideOnSolved"
             ref="label"
             class="label"
             :class="{ dragged: isDragged, interact: canInteract, solved: isSolved && !hideOnSolved }"
             :style="transformStyle">
            <div v-html="text"></div>
        </div>
    </transition>
</template>

<script>
  import { Observable } from 'rxjs'
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-label',
    mixins: [PositionMixin],
    data () {
      return {
        isDragged: false,
        isSolved: false
      }
    },
    props: {
      animateTo: String,
      matchId: String,
      text: String,
      isLocked: {
        type: Boolean,
        default: false
      },
      hideOnSolved: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      screenPosition () {
        return this.$store.state.screenPosition
      },
      screenScale () {
        return this.$store.state.screenScale
      },
      screenSize () {
        return this.$store.state.screenSize
      },
      canInteract () {
        return !this.isSolved && !this.isLocked
      }
    },
    methods: {
      transformPosition (x, y) {
        let mouseX = (x - this.screenPosition.x) / this.screenScale
        let mouseY = (y - this.screenPosition.y) / this.screenScale

        return {
          x: Math.max(0, Math.min(mouseX, this.screenSize.width)),
          y: Math.max(0, Math.min(mouseY, this.screenSize.height))
        }
      },

      bounds () {
        return this.$el.getBoundingClientRect()
      },

      move (x, y) {
        this.currentX = x - this.$el.offsetWidth / 2
        this.currentY = y - this.$el.offsetHeight / 2
      },

      moveToStartPosition () {
        this.currentX = this.originalX
        this.currentY = this.originalY
      },

      setSolved () {
        this.isSolved = true
      },

      reset () {
        this.moveToStartPosition()
        this.isSolved = false
      }
    },

    mounted () {
      let down$ = Observable.race(
        Observable.fromEvent(this.$refs.label, 'mousedown')
          .map((evt) => { return {x: evt.clientX, y: evt.clientY} }),
        Observable.fromEvent(this.$refs.label, 'touchstart')
          .map((evt) => {
            let t = evt.targetTouches[0]
            return {x: t.clientX, y: t.clientY}
          })
      )

      let up$ = Observable.race(
        Observable.fromEvent(window, 'mouseup').take(1),
        Observable.fromEvent(window, 'touchend').take(1),
        Observable.fromEvent(window, 'touchcancel').take(1)
      )

      let move$ = Observable.merge(
        Observable.fromEvent(window, 'touchmove')
          .map((evt) => {
            let t = evt.touches[0]
            return {x: t.clientX, y: t.clientY}
          }),
        Observable.fromEvent(window, 'mousemove')
          .map((evt) => {
            return {x: evt.clientX, y: evt.clientY}
          })
      )
        .takeUntil(up$)

      down$
        .filter(() => this.canInteract === true)
        .do((_) => {
          this.isDragged = true
          this.$emit('dragStarted')
        })
        .switchMap((pos) => move$
          .startWith(pos)
          .takeWhile(() => this.canInteract === true)
          .takeUntil(up$
            .do((_) => { this.isDragged = false })
            .do((_) => {
              this.$emit('dragStopped', this, {
                x: this.currentX + this.$el.offsetWidth / 2,
                y: this.currentY + this.$el.offsetHeight / 2
              })
            })
          )
        )
        .map(({x, y}) => this.transformPosition(x, y))
        .subscribe(({x, y}) => { this.move(x, y) })
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .label {
        position: absolute;
        padding: 8px 14px 4px 14px;

        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        white-space: nowrap;

        background-color: $label-bg;
        border-radius: 6px;

        user-select: none;

        transform-origin: center;

        &.dragged {
            pointer-events: none;
            z-index: $drag-z-index;

            &:hover {
                text-decoration: none;
            }
        }

        &.white {
            color: #1E1E1E;
            background-color: white;
            font-weight: normal;
        }

        &.mediun-font {
          font-size: 24px;
        }

        &.compact {
            white-space: normal;
            width: 336px;
            font-size: 24px;
            text-align: left;
        }

        &.solved {
            border: 3px solid $ui-green;
            margin: -3px 0 0 -2px;
        }

        &.interact {
            cursor: pointer;

            &:hover {
                background-color: #333333;
            }

            &.white:hover {
                background-color: #eaeaea;
            }
        }
    }

    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-leave {
        opacity: 1;
    }

    .fade-leave-to {
        opacity: 0;
    }
</style>
