<template>
    <div class="navigation">
        <div v-if="showBack"
             class="btn back"
             :class="{ 'pulse': pulseBack }"
             v-on:click.stop="goBack()">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 43">
                <path fill="#FFF" d="M1.6 23.46l19.64 18.5c.53.5 1.22.76 1.93.76 1.56 0 2.83-1.27 2.83-2.82V29.67h20.45c1.56 0 2.83-1.27 2.83-2.83V15.97c0-1.56-1.27-2.83-2.83-2.83H26V2.92C26 1.36 24.73.1 23.17.1c-.72 0-1.4.26-1.93.76L1.6 19.36c-.57.52-.9 1.27-.9 2.05 0 .8.33 1.55.9 2.08zm22.54-7.28h22.1v10.45h-22.1c-.65 0-1.17.53-1.17 1.17v11.6l-19.13-18 19.13-18V15c0 .65.52 1.18 1.17 1.18zm-.78-13.7zm.1.06h.03-.05zm.1.1h.02zm.07.1v.02zm0 37.3v-.02zm-.05.12zm-.1.1zm-.1.07h-.02.02zm-.4 0h-.02.02zm.12.04zm.15 0h-.03.03zm0-37.93h-.03.03zm-.3.05c.02 0 .03-.04.03-.04h-.02zm.15-.08z"/>
            </svg>
            <div v-if="showBackText" class="text">{{backText}}</div>
        </div>
        <div v-if="showForward"
             class="btn forward"
             :class="{ 'pulse': pulseForward }"
             v-on:click.stop="goForward()">
            <div v-if="showForwardText" class="text">{{forwardText}}</div>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 52">
                <path fill="#FFF" d="M57.25 23.64L33.67 1.44c-.63-.6-1.46-.9-2.32-.9-1.87 0-3.4 1.5-3.4 3.38V16.2H3.43c-1.87 0-3.4 1.5-3.4 3.38v13.05c0 1.87 1.53 3.4 3.4 3.4h24.54V48.3c0 1.85 1.52 3.37 3.4 3.37.86 0 1.68-.33 2.3-.92l23.6-22.2c.66-.63 1.05-1.53 1.05-2.46 0-1-.38-1.9-1.05-2.5zM30.2 32.38H3.66V19.83H30.2c.77 0 1.4-.63 1.4-1.4V4.5l22.95 21.6L31.6 47.7V33.8c0-.77-.63-1.4-1.4-1.4zm.93 16.44h-.03.03zm-.13-.07l-.03-.02s.02 0 .03.02zm-.13-.13zm-.06-.13v-.1.02zm0-44.8v.03zm.1-.17zm.1-.13h.07l-.02.02zm.17-.07zm.5 0zm-.15-.06h-.02.02zm-.2 0h.05-.03zm0 45.5h.05-.03zm.36-.05h-.02.03zm-.16.05h-.04.02z"/>
            </svg>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'is-navigation',
    data () {
      return {}
    },
    computed: {
      backText () {
        return this.$store.state.navBackText
      },
      forwardText () {
        return this.$store.state.navForwardText
      },
      showBack () {
        return this.$store.state.showNavBack
      },
      showForward () {
        return this.$store.state.showNavForward
      },
      showBackText () {
        return this.backText.length > 0
      },
      showForwardText () {
        return this.forwardText.length > 0
      },
      pulseBack () {
        return this.$store.state.pulseNavBack
      },
      pulseForward () {
        return this.$store.state.pulseNavForward
      }
    },
    methods: {
      goBack () {
        this.$emit('back')
      },
      goForward () {
        this.$emit('forward')
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        height: 73px;
        top: 25px;

        z-index: $ui-z-index;

        cursor: pointer;

        &:active {
            top: 44px;

            &.back, &.forward {
                box-shadow: none;
            }
        }

        & .text {
            padding: 6px 14px 0 14px;
            color: white;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
        }

        & .icon {
            width: 59px;
            height: 52px;
            margin: 0 14px;

            pointer-events: none
        }

        &.back {
            background-color: $ui-brown;
            left: 0;

            border-radius: 0 14px 14px 0;
            box-shadow: 0 10px 0 $ui-brown-shadow;
        }

        &.forward {
            background-color: $ui-green;
            right: 0;

            border-radius: 14px 0 0 14px;
            box-shadow: 0 10px 0 $ui-green-shadow;
        }

        &.pulse {
            animation: pulse 3s ease-in-out infinite;
        }
    }
</style>
