<template>
    <div class="position" :style="transformStyle">
        <slot>This is a wrapper for items you wish to move with transform translate!</slot>
    </div>
</template>

<script>
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-position',
    mixins: [PositionMixin]
  }
</script>

<style lang="scss" scoped>
    .position {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>
