<template>
    <div class="container"
         :style="transformStyle">
        <svg :viewBox="glyph.viewBox"
             :width="glyph.viewBox.split(' ')[2]"
             :height="glyph.viewBox.split(' ')[3]">
            <use :xlink:href="'#' + glyph.id"/>
        </svg>
    </div>
</template>

<script>
  import SvgSprite from '@/components/core/SvgSprite.vue'
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-svg-sprite-pos',
    components: {
      'is-svg-sprite': SvgSprite
    },
    mixins: [PositionMixin],
    props: {
      glyph: Object
    },

    computed: {
      screenScale () {
        return this.$store.state.screenScale
      }
    },

    methods: {
      center () {
        let bounds = this.$el.getBoundingClientRect()
        return {
          x: this.posX + bounds.width / 2,
          y: this.posY + bounds.height / 2
        }
      },

      size () {
        let bounds = this.$el.getBoundingClientRect()
        return {
          w: (bounds.width / this.screenScale),
          h: (bounds.height / this.screenScale)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
