<template>
    <div class="container"
         :class="{ 'interact': canInteract }"
         :style="transformStyle">
        <div class="text">{{text}}</div>
        <input class="solution"
               :class="{solved: isSolved}"
               type="text"
               v-model.trim="solutionValue"
               ref="solutionInput"
               :disabled="!canInteract">
        <div @click="onIconClick()" class="icon"></div>
    </div>
</template>

<script>
  import { Observable } from 'rxjs'
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-type-in-2',
    components: {
    },
    mixins: [PositionMixin],
    props: {
      solution: String,
      text: String,
      isLocked: {
        type: Boolean,
        default: false
      },
      icon: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        solutionValue: '',
        isSolved: false
      }
    },
    computed: {
      canInteract () {
        return !this.isSolved && !this.isLocked
      }
    },

    methods: {
      setSolved () {
        this.isSolved = true
      },
      reset () {
        this.isSolved = false
        this.solutionValue = ''
      },
      onIconClick () {
        this.$emit('clicked', this.icon)
      },
      playSolution$ () {
        let letters = this.solution.split('')

        return Observable.zip(
          Observable.from(letters),
          Observable.interval(500),
          (item, c) => item)
          .scan((word, letter) => word + letter, '')
          .do((word) => {
            this.solutionValue = word
          }).last()
      }
    },

    mounted () {
      this.solutionInput = this.$refs.solutionInput

      this.keyup$ = Observable.fromEvent(this.solutionInput, 'keyup')
        .filter((_) => this.solutionValue.toUpperCase() === this.solution.toUpperCase())
        .subscribe((_) => {
          this.isSolved = true
          this.$emit('solved')
        })
    },

    destroyed () {
      if (this.keyup$) {
        this.keyup$.unsubscribe()
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';

    .container {
        display: flex;
        position: absolute;

        align-items: center;

        top: 0;
        left: 0;

        .text {
            position: absolute;
            right: 100%;
            margin-right: 8px;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            user-select: none;
        }

        pointer-events: none;

        .solution {
            display: block;
            flex: 1;
            height: 48px;
            width: 100%;

            padding: 0 8px;

            color: white;
            font-size: 20px;
            text-transform: uppercase;

            border-radius: 8px;
            border: solid 2px white;
            background-color: transparent;

            &.solved {
                border-color: $ui-green;
            }
        }

        .icon {
            position: absolute;
            width: 48px;
            height: 44px;
            top: 0;
            left: 100%;

            margin-left: 8px;

            color: white;
            cursor: pointer;

            background-color: $orange;

            border-radius: 6px;
            box-shadow: 0 4px 0 $orange-shadow;

            background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M.3 27.55a3.2 3.2 0 0 0 3.2 3.2h23.98a3.2 3.2 0 0 0 3.2-3.2V3.58a3.2 3.2 0 0 0-3.2-3.2H3.5a3.2 3.2 0 0 0-3.2 3.2v23.97zm27.18 1.68H3.5c-.93 0-1.68-.76-1.68-1.68v-4l5.76-5.76 4.92 4.92c.3.3.77.3 1.07 0l8.89-8.89 6.69 6.7v7.03c0 .92-.76 1.68-1.68 1.68zM3.5 1.9h23.97c.92 0 1.68.76 1.68 1.68v14.78L23 12.2a.76.76 0 0 0-1.07 0l-8.89 8.88-4.92-4.92a.76.76 0 0 0-1.07 0L1.83 21.4V3.6c0-.93.75-1.69 1.68-1.69z'/%3E%3Cpath d='M9.72 12.55a3.87 3.87 0 1 0 0-7.74 3.87 3.87 0 0 0 0 7.74zm0-6.21a2.35 2.35 0 1 1 0 4.7 2.35 2.35 0 0 1 0-4.7z'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 50% 50%;

            &:active {
                box-shadow: none;
                margin-top: 4px;
            }
        }

        &.interact {
            pointer-events: inherit;

            .icon {
                animation: pulse-big 2s ease-in-out infinite;
            }
        }

        &.end-with-dot {
            &:after {
                content: ".";
                top: 0;
                left: 0;
                padding-left: 4px;
                padding-top: 4px;
                color: white;
                font-size: 20px;
            }
        }
    }
</style>
