<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <div class="board"></div>

        <is-type-in-2 v-for="(input, key) in inputsData"
                      class="input end-with-dot"
                      :id="'$i-' + key"
                      :ref="'$i-' + key"
                      :key="key"
                      :text="input.text"
                      :solution="input.solution"
                      :icon="input.glyph"
                      :posX="input.pos.x"
                      :posY="input.pos.y"
                      :isLocked="isLocked"
                      @solved="isGameSolved()"
                      @clicked="openImage"></is-type-in-2>

        <div v-if="showImage" class="images">
            <is-svg-sprite v-for="(glyph, key) in glyphs"
                           v-if="key === showImage"
                           :key="key"
                           :ref="key"
                           :glyph="glyph"
                           class="image"></is-svg-sprite>
            <div @click="closeImage()" class="close">
                <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.67 14.24l9.95-9.96a2 2 0 1 0-2.83-2.82l-9.95 9.95-9.95-9.95a2 2 0 1 0-2.83 2.83L11 14.23l-9.95 9.95a2 2 0 1 0 2.83 2.83l9.95-9.95 9.95 9.95a2 2 0 0 0 2.83 0 2 2 0 0 0 0-2.83l-9.95-9.95z"
                          fill="#000444"/>
                </svg>
            </div>
        </div>

        <is-bm-anim class="character"
                    ref="character"
                    key="anim-character"
                    :animationData="characterAnim"
                    :posX="48"
                    :posY="444"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="120"
                   :posY="290"></is-bubble>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
  import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'

  import TypeIn2Component from '@/components/shared/TypeIn2Component'

  import background from '@/assets/ucilnice/slovnica/table/background.svg'
  import characterAnim from '@/assets/ucilnice/slovnica/table/animations/characterBehindDeskTalking'

  import { lines, inputsData } from './TableVpisovanjeData'
  import sprites from './TableAssets'

  export default {
    name: 'is-table-vpisovanje',
    components: {
      'is-type-in-2': TypeIn2Component
    },
    mixins: [
      GameBasicMixin,
      GameUtilsMixin,
      StoreInputsMixin
    ],
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background,
          characterAnim,
          inputsData: {},
          linesData: {},
          showImage: ''
        }
      )
    },

    computed: {
      isLocked () {
        return this.gameState !== this.gameStates.interactive || this.isImageOpen
      },

      isImageOpen () {
        return this.showImage.length > 0
      }
    },

    methods: {
      isGameSolved () {
        let solved = this.inputs.filter((label) => label.isSolved)
        if (solved.length === this.inputs.length) {
          this.startEnd()
        }
      },

      resetScene () {
        this.$refs.endModal.hide()
        this.inputs.forEach((input, key) => input.reset())
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()
        this.playIntroAnimation()
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }
        this.bubble.hide()
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()
      },

      startEnd () {
        this.setStateToEnd()

        const dialog = this.endDialogs.get(this.$route.name)
        this.$refs.endModal.show(dialog)
      },

      playIntroAnimation () {
        let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
        let randomInput = this.inputs[randomInputIndex]

        let charAnim = Observable.zip(
          this.bubble.show$(this.linesData.poskusi),
          this.character.play$(false, true))
          .do(() => this.bubble.hide())
          .delay(2000)

        this.introAnim$ = randomInput.playSolution$()
          .delay(2000)
          .flatMap(() => charAnim)
          .subscribe(
            () => {},
            null,
            () => this.startInteraction())
      },

      openImage (image) {
        this.showImage = image

        this.imageAnim$ = Observable.timer(2000)
          .subscribe(() => {
            this.closeImage()
          })
      },

      closeImage () {
        if (this.imageAnim$) {
          this.imageAnim$.unsubscribe()
        }
        this.showImage = ''
      }
    },

    created () {
      this.inputsData = inputsData.get(this.$route.name)
      this.linesData = lines.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.character = this.$refs.character
      this.bubble = this.$refs.bubble

      this.startIntroAnimation()
      // this.startInteraction()
    },

    destroyed () {
      this.stopIntroAnimation()
      this.closeImage()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .board {
        position: absolute;
        top: 96px;
        left: 230px;

        width: 884px;
        height: 476px;

        border: 8px solid #FFECC8;
        border-radius: 4px;

        background-color: #4D4D4F;
        box-shadow: -2px -2px 0px 0px #B9AD95;
    }

    .input {
        width: 250px;
    }

    .images {
        position: absolute;
        left: 404px;
        top: 187px;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }

    .character,
    .bubble {
        z-index: $character-z-index;
    }
</style>
