<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <div class="temp-text">{{sound}}</div>

        <transition name="fade" v-for="(glyph, key) in glyphs" :key="'t' + key">
            <is-svg-sprite-pos :key="key"
                               :ref="key"
                               :glyph="glyph"
                               v-if="showingItems.get(key)"
                               :posX="0"
                               :posY="0"></is-svg-sprite-pos>
        </transition>

        <is-button-select @clicked="selectedClicked"
                          :id="0"
                          ref="btn1"
                          :isLocked="canInteract"
                          :posX="177"
                          :posY="536"></is-button-select>
        <is-button-select @clicked="selectedClicked"
                          :id="1"
                          ref="btn2"
                          :isLocked="canInteract"
                          :posX="600"
                          :posY="536"></is-button-select>
        <is-button-select @clicked="selectedClicked"
                          :id="2"
                          ref="btn3"
                          :isLocked="canInteract"
                          :posX="1020"
                          :posY="536"></is-button-select>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'

  import ButtonSelectComponent from '@/components/shared/ButtonSelectComponent'

  import background from '@/assets/jedilnica/kosare/kosare/background.svg'

  import sprites from './KosareIzbiranjeAssets'
  import { itemsData, platePositions } from './KosareIzbiranjeData'

  export default {
    name: 'is-kosare-izbiranje',
    mixins: [
      GameBasicMixin,
      GameUtilsMixin
    ],
    components: {
      'is-button-select': ButtonSelectComponent
    },
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background: background,
          allItems: [],
          remainingItems: [],
          showingItems: new Map(),
          sound: '',
          solution: -1,
          lockButtons: true
        }
      )
    },

    computed: {
      canInteract () {
        return this.gameState !== this.gameStates.interactive || this.lockButtons
      }
    },

    methods: {
      selectedClicked (selected) {
        if (selected.id === this.solutiom) {
          selected.stateToCorrect()
          this.lockButtons = true

          this.timeout = setTimeout(() => {
            if (this.isGameSolved()) {
              this.startEnd()
            } else {
              this.resetScene()
              this.prepareNextSet()
            }
          }, 1600)
        } else {
          selected.stateToIncorrect()
        }
      },

      isGameSolved () {
        return this.remainingItems.length === 0
      },

      resetScene () {
        this.showingItems.forEach((v, key) => this.showingItems.set(key, false))
        this.sound = ''
        this.solution = -1
        this.lockButtons = true
        this.buttons.forEach((b) => b.stateToNeutral())

        if (this.timeout) {
          clearTimeout(this.timeout)
        }
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }
      },

      startInteraction () {
        this.resetScene()
        this.prepareNextSet()
        this.setStateToInteractive()
      },

      startEnd () {
        this.setStateToEnd()

        const dialog = this.endDialogs.get(this.$route.name)
        this.$refs.endModal.show(dialog)
      },

      prepareNextSet () {
        let item = this.remainingItems.pop()

        let itemsSet = this.selectRandomItems(this.allItems, item)

        this.solutiom = itemsSet.indexOf(item)
        this.sound = item

        this.lockButtons = false

        itemsSet.forEach((v, i) => {
          this.showingItems.set(v, true)
          let pos = platePositions[i]

          setTimeout(() => {
            let el = this.$refs[v][0]
            el.setPosition(
              (pos.x - el.size().w / 2),
              (pos.y - el.size().h)
            )
          }, 0)
        })
      },

      selectRandomItems (items, selected) {
        let from = Array.from(items)
        from.splice(items.indexOf(selected), 1)

        let selection = [
          selected,
          from.splice(Math.floor(Math.random() * from.length), 1)[0],
          from.splice(Math.floor(Math.random() * from.length), 1)[0]
        ]

        return this.shuffleArray(selection)
      },

      // Need to override since there is no initial intro animation
      navigateBack () {
        switch (this.gameState) {
          case this.gameStates.intro:
            let route = this.toRouteName(this.backwardRoutes, this.$route.name)
            this.$router.push({name: route})
            break

          case this.gameStates.interactive:
            route = this.toRouteName(this.backwardRoutes, this.$route.name)
            this.$router.push({name: route})
            break

          case this.gameStates.end:
            this.startInteraction()
            break
        }
      }
    },

    created () {
      this.allItems = this.shuffleArray(itemsData.get(this.$route.name))
      this.remainingItems = Array.from(this.allItems)
      this.showingItems = this.allItems.reduce((acc, curr) => {
        acc.set(curr, false)
        return acc
      }, new Map())

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.buttons = [
        this.$refs.btn1,
        this.$refs.btn2,
        this.$refs.btn3
      ]

      this.startIntroAnimation()
      this.startInteraction()
    },

    destroyed () {
      if (this.timeout) {
        clearTimeout(this.timeout)
      }

      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .temp-text {
        position: absolute;
        width: 300px;
        top: 100px;
        left: 526px;
        background: white;
        padding: 8px 16px;
        font-size: 28px;
        text-transform: uppercase;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
