<template>
    <div class="avla">
        <is-svg-sprite class="background" :glyph="background"></is-svg-sprite>

        <is-button @clicked="goToUcilnice()"
                   class="btn-ucilnica"
                   key="btn-ucilnica"
                   :posX="593"
                   :posY="460">Vstopi</is-button>

        <is-button @clicked="goToJedilnica()"
                   class="btn-jedilnica"
                   key="btn-jedilnica"
                   :posX="600"
                   :posY="200">Vstopi</is-button>

        <is-svg-sprite class="ucilnicaOpen" :glyph="ucilnicaOpen"></is-svg-sprite>
        <is-svg-sprite class="jedilnicaOpen" :glyph="jedilnicaOpen"></is-svg-sprite>

        <is-svg-sprite class="ograja" :glyph="ograja"></is-svg-sprite>
        <is-svg-sprite class="otroci" :glyph="otroci"></is-svg-sprite>
    </div>
</template>

<script>
  import SvgSprite from '@/components/core/SvgSprite.vue'
  import Button from '@/components/shared/ButtonComponent.vue'

  import background from '@/assets/avla/background.svg'
  import ograja from '@/assets/avla/ograja.svg'
  import otroci from '@/assets/avla/otroci.svg'

  import ucilnicaOpen from '@/assets/avla/ucilnica-open.svg'
  import jedilnicaOpen from '@/assets/avla/jedilnica-open.svg'

  export default {
    components: {
      'is-svg-sprite': SvgSprite,
      'is-button': Button
    },
    name: 'is-intro-animation',
    data () {
      return {
        background: background,
        ograja: ograja,
        otroci: otroci,
        ucilnicaOpen: ucilnicaOpen,
        jedilnicaOpen: jedilnicaOpen
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      }
    },

    methods: {
      goToUcilnice () {
        const routes = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: routes.ucilnice})
      },

      goToJedilnica () {
        const routes = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: routes.jedilnica})
      }
    },

    mounted () {
    },

    destroyed () {
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/layout';

    .avla {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .ograja {
        position: absolute;
        top: 266px;
        left: 109px;
    }

    .otroci {
        position: absolute;
        top: 474px;
        left: 170px;
    }

    .ucilnicaOpen {
        position: absolute;
        top: 425px;
        left: 587px;
    }
    .jedilnicaOpen {
        position: absolute;
        top: 160px;
        left: 492px;
    }

    .btn-ucilnica,
    .btn-jedilnica {
        z-index: $ui-z-index;
    }
</style>
