<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-bm-anim class="ana"
                    ref="ana"
                    key="anim-ana"
                    :animationData="anaGovoriAnim"
                    :posX="566"
                    :posY="432"></is-bm-anim>

        <is-bm-anim class="kuhar"
                    ref="kuhar"
                    key="anim-kuhar"
                    :animationData="kuharGovoriAnim"
                    :posX="724"
                    :posY="274"></is-bm-anim>

        <is-svg-sprite-pos :glyph="kuharica"
                           :posX="464"
                           :posY="304"></is-svg-sprite-pos>

        <is-bubble class="ana right"
                   ref="bbAna"
                   key="bb-ana"
                   :posX="322"
                   :posY="148"></is-bubble>

        <is-bubble class="bb-kuhar left"
                   ref="bbKuhar"
                   key="bb-kuhar"
                   :posX="794"
                   :posY="174"></is-bubble>

    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import background from '@/assets/jedilnica/kuhinja/background.svg'
  import kuharica from '@/assets/jedilnica/kuhinja/kuharica.svg'
  import anaGovoriAnim from '@/assets/jedilnica/kuhinja/animations/ana-govori-to-je-kuhinja.json'
  import kuharGovoriAnim from '@/assets/jedilnica/kuhinja/animations/kuhar-dober-dan.json'

  import { lines } from './KuhinjaData'

  export default {
    name: 'is-kuhinja-container',
    mixins: [
      GameBasicMixin
    ],
    components: {
    },
    data () {
      return {
        background: background,
        anaGovoriAnim: anaGovoriAnim,
        kuharGovoriAnim: kuharGovoriAnim,
        kuharica: kuharica
      }
    },

    methods: {
      startIntroAnimation () {
        this.introAnim$ = Observable.timer(2000)
          .flatMap(() => Observable.zip(
            this.bbAna.show$(lines.ana),
            this.ana.play$(false, true))
            .do(() => this.bbAna.hide()))
          .flatMap(() => Observable.timer(1000))
          .flatMap(() => Observable.zip(
            this.bbKuhar.show$(lines.kuhar),
            this.kuhar.play$(false, true))
            .do(() => this.bbKuhar.hide()))
          .subscribe(null, null, () => this.startInteraction())
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }

        this.bbAna.hide()
        this.bbKuhar.hide()
      },

      animSegment (start, end, anim, bubble, text) {
        return Observable.zip(
          bubble.show$(text),
          anim.playSegment$(start, end))
          .do(() => bubble.hide())
      },

      startInteraction () {
        this.setStateToInteractive()
      }
    },

    created () {
      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.ana = this.$refs.ana
      this.kuhar = this.$refs.kuhar
      this.bbAna = this.$refs.bbAna
      this.bbKuhar = this.$refs.bbKuhar

      this.startIntroAnimation()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style scoped>
  @import '../../../styles/layout.scss';
</style>
