@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-big {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
