$ui-green: #39B54A;
$ui-green-shadow: #009245;
$ui-brown: #A67C52;
$ui-brown-shadow: #8C6239;
$ui-orange: #F47E20;
$ui-blue: #00BDF2;
$ui-blue-shadow: #0098D4;
$ui-violet: #B04D95;
$ui-violet-shadow: #7F2A59;

$ui-text-gold: #FFE8A1;

$orange: #FF8100;
$orange-shadow: #BD5400;

$label-bg: #4C4C4E;
