<template>
    <div class="tabla-target-container"
         :class="[shadowDirection, {'interact': !isLocked}]"
         :style="transformStyle">
        <div class="text-container">
            <div class="title">{{title}}</div>
            <div class="subtitle">{{subtitle}}</div>
            <hr class="line">
        </div>
    </div>
</template>

<script>
  import PositionMixin from '@/components/core/mixins/PositionMixin'

  export default {
    name: 'is-board-target',
    components: {
    },
    mixins: [
      PositionMixin
    ],
    data () {
      return {}
    },
    props: {
      shadowDirection: String,
      title: String,
      subtitle: String,
      isLocked: Boolean
    },
    computed: {
    },

    methods: {
      bounds () {
        return this.$el.getBoundingClientRect()
      },
      center () {
        let bounds = this.bounds()
        return {
          x: this.posX + bounds.width / 2,
          y: this.posY + bounds.height / 2
        }
      }
    },
    mounted () {
    },

    destroyed () {
    }
  }
</script>

<style lang="scss" scoped>
    .tabla-target-container {
        position: absolute;
        top: 0;
        left: 0;

        width: 340px;
        height: 420px;

        background-color: #4D4D4F;

        border: 8px solid #FFECC8;
        border-radius: 4px;

        &.interact:hover {
            border-color: #6888B2;
        }

        &.left {
            box-shadow: -2px -2px 0px 0px #B9AD95;
        }
        &.middle {
            box-shadow: 0 -2px 0px 0px #B9AD95;
        }
        &.right {
            box-shadow: 2px -2px 0px 0px #B9AD95;
        }

        .text-container {
            padding: 8px 26px 0 26px;
            text-align: center;
            color: white;

            .title {
                font-size: 24px;
                text-transform: uppercase;
            }
            .subtitle {
                font-size: 16px;
                text-transform: uppercase;
            }
            .line {
                margin: 4px 0 0 0;
            }
        }
    }
</style>
