<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-bm-anim v-show="showAnim === 0"
                    class="jaz-pisem"
                    ref="jaz-pisem"
                    key="anim-jaz-pisem"
                    :animationData="jazPisemAnim"
                    :posX="210"
                    :posY="280"></is-bm-anim>

        <is-bm-anim v-show="showAnim > 0"
                    class="jaz-kazem"
                    ref="jaz-kazem"
                    key="anim-jaz-kazem"
                    :animationData="jazKazemAnim"
                    :posX="210"
                    :posY="280"></is-bm-anim>

        <is-bm-anim class="ti-pises"
                    ref="ti-pises"
                    key="anim-ti-pises"
                    :animationData="tiPisesAnim"
                    :posX="460"
                    :posY="280"></is-bm-anim>

        <is-bm-anim class="on-pise"
                    ref="on-pise"
                    key="anim-on-pise"
                    :animationData="onPiseAnim"
                    :posX="730"
                    :posY="320"></is-bm-anim>

        <is-bm-anim class="ona-pise"
                    ref="ona-pise"
                    key="anim-ona-pise"
                    :animationData="onaPiseAnim"
                    :posX="1000"
                    :posY="320"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="300"
                   :posY="180"
                   @clicked="onBubbleClicked()"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable, Subject } from 'rxjs'

  import background from '@/assets/ucilnice/slovnica/glagoli/background-1.svg'
  import jazPisemAnim from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-jaz-pisem'
  import jazKazemAnim from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-jaz-pisem-kazem'
  import tiPisesAnim from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-ti'
  import onPiseAnim from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-on'
  import onaPiseAnim from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-ona'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import { linesData } from './GlagoliData'

  export default {
    name: 'is-glagoli-s1',
    mixins: [GameBasicMixin],
    data () {
      return {
        background,
        showAnim: 0,
        jazPisemAnim,
        jazKazemAnim,
        tiPisesAnim,
        onPiseAnim,
        onaPiseAnim,
        linesData: {}
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      },
      backwardRoutes () {
        return this.$store.state.sceneRoutes.backwardRoutes
      }
    },

    methods: {
      navigateBack () {
        const route = this.backwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      navigateForward () {
        const route = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      setupAnimations () {
        let anims = [this.jazPisemChar, this.tiPisesChar, this.onPiseChar]
        let lines = [this.linesData.jaz, this.linesData.ti, this.linesData.on]
        let frames = [
          {from: 0, to: 100},
          {from: 200, to: 287}
        ]

        this.animations$ = this.trigger$
          .scan((acc, _) => ++acc, -1)
          .filter((count) => count < anims.length)
          .do((count) => {
            this.showAnim = count
          })
          .switchMap((count) => {
            if (count === 0) {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true))
            } else {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true),
                this.jazKazemChar.playSegment$(frames[count - 1].from, frames[count - 1].to))
            }
          })
          .subscribe()
      },

      onBubbleClicked () {
        this.trigger$.next()
      }
    },

    created () {
      this.trigger$ = new Subject()

      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
      this.$store.dispatch('setNavForwardText', 'Kotiček za dvojino')
    },

    mounted () {
      this.jazPisemChar = this.$refs['jaz-pisem']
      this.jazKazemChar = this.$refs['jaz-kazem']
      this.tiPisesChar = this.$refs['ti-pises']
      this.onPiseChar = this.$refs['on-pise']

      this.bubble = this.$refs.bubble

      this.setupAnimations()

      this.trigger$.next()
    },

    destroyed () {
      if (this.animations$) {
        this.animations$.unsubscribe()
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .bubble {
        z-index: $character-z-index;
    }
</style>
