<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-bm-anim v-show="showAnim === 0"
                    class="mi-pisemo"
                    ref="mi-pisemo"
                    key="anim-mi-pisemo"
                    :animationData="miPisemoAnim"
                    :posX="30"
                    :posY="230"></is-bm-anim>

        <is-bm-anim v-show="showAnim > 0"
                    class="mi-kazemo"
                    ref="mi-kazemo"
                    key="anim-mi-kazemo"
                    :animationData="miKazemoAnim"
                    :posX="30"
                    :posY="230"></is-bm-anim>

        <is-bm-anim class="vi-pisete"
                    ref="vi-pisete"
                    key="anim-vi-pisete"
                    :animationData="viPiseteAnim"
                    :posX="490"
                    :posY="230"></is-bm-anim>

        <is-bm-anim class="oni-pisejo"
                    ref="oni-pisejo"
                    key="anim-oni-pisejo"
                    :animationData="oniPisejoAnim"
                    :posX="830"
                    :posY="370"></is-bm-anim>

        <is-bubble class="bubble right"
                   ref="bubble"
                   key="bubble"
                   :posX="170"
                   :posY="140"
                   @clicked="onBubbleClicked()"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable, Subject } from 'rxjs'

  import background from '@/assets/ucilnice/slovnica/glagoli/background-3.svg'
  import miPisemoAnim from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-mi-pisemo'
  import miKazemoAnim from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-mi-pisemo-kazemo'
  import viPiseteAnim from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-vi'
  import oniPisejoAnim from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-oni'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import { linesData } from './GlagoliData'

  export default {
    name: 'is-glagoli-s3',
    mixins: [GameBasicMixin],
    data () {
      return {
        background,
        showAnim: 0,
        miPisemoAnim,
        miKazemoAnim,
        viPiseteAnim,
        oniPisejoAnim,
        linesData: {}
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      },
      backwardRoutes () {
        return this.$store.state.sceneRoutes.backwardRoutes
      }
    },

    methods: {
      navigateBack () {
        const route = this.backwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      navigateForward () {
        const route = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      setupAnimations () {
        let anims = [this.miPisemoChar, this.viPiseteChar, this.oniPisejoChar]
        let lines = [this.linesData.mi, this.linesData.vi, this.linesData.oni]
        let frames = [
          {from: 0, to: 100},
          {from: 100, to: 188}
        ]

        this.animations$ = this.trigger$
          .scan((acc, _) => ++acc, -1)
          .filter((count) => count < anims.length)
          .do((count) => {
            this.showAnim = count
          })
          .switchMap((count) => {
            if (count === 0) {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true))
            } else {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true),
                this.miKazemoChar.playSegment$(frames[count - 1].from, frames[count - 1].to))
            }
          })
          .subscribe()
      },

      onBubbleClicked () {
        this.trigger$.next()
      }
    },

    created () {
      this.trigger$ = new Subject()

      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
      this.$store.dispatch('setNavBackText', 'Kotiček za dvojino')
    },

    mounted () {
      this.miPisemoChar = this.$refs['mi-pisemo']
      this.miKazemoChar = this.$refs['mi-kazemo']
      this.viPiseteChar = this.$refs['vi-pisete']
      this.oniPisejoChar = this.$refs['oni-pisejo']

      this.bubble = this.$refs.bubble

      this.setupAnimations()

      this.trigger$.next()
    },

    destroyed () {
      if (this.animations$) {
        this.animations$.unsubscribe()
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .bubble {
        z-index: $character-z-index;
    }
</style>
