<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-bm-anim v-show="showAnim === 0"
                    class="midva-piseva"
                    ref="midva-piseva"
                    key="anim-midva-piseva"
                    :animationData="midvaPisevaAnim"
                    :posX="120"
                    :posY="260"></is-bm-anim>

        <is-bm-anim v-show="showAnim > 0"
                    class="midva-kazeva"
                    ref="midva-kazeva"
                    key="anim-midva-kazeva"
                    :animationData="midvaKazevaAnim"
                    :posX="120"
                    :posY="260"></is-bm-anim>

        <is-bm-anim class="vidva-piseta"
                    ref="vidva-piseta"
                    key="anim-vidva-piseta"
                    :animationData="vidvaPisetaAnim"
                    :posX="510"
                    :posY="260"></is-bm-anim>

        <is-bm-anim class="onadva-piseta"
                    ref="onadva-piseta"
                    key="anim-onadva-piseta"
                    :animationData="onadvaPisetaAnim"
                    :posX="940"
                    :posY="360"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="320"
                   :posY="170"
                   @clicked="onBubbleClicked()"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable, Subject } from 'rxjs'

  import background from '@/assets/ucilnice/slovnica/glagoli/background-2.svg'
  import midvaPisevaAnim from '@/assets/ucilnice/slovnica/glagoli/animations/dvojina-midva-piseva'
  import midvaKazevaAnim from '@/assets/ucilnice/slovnica/glagoli/animations/dvojina-midva-piseva-kazeva'
  import vidvaPisetaAnim from '@/assets/ucilnice/slovnica/glagoli/animations/dvojina-vidva'
  import onadvaPisetaAnim from '@/assets/ucilnice/slovnica/glagoli/animations/dvojina-onadva'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import { linesData } from './GlagoliData'

  export default {
    name: 'is-glagoli-s2',
    mixins: [GameBasicMixin],
    data () {
      return {
        background,
        showAnim: 0,
        midvaPisevaAnim,
        midvaKazevaAnim,
        vidvaPisetaAnim,
        onadvaPisetaAnim,
        linesData: {}
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      },
      backwardRoutes () {
        return this.$store.state.sceneRoutes.backwardRoutes
      }
    },

    methods: {
      navigateBack () {
        const route = this.backwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      navigateForward () {
        const route = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      setupAnimations () {
        let anims = [this.midvaPisevaChar, this.vidvaPisetaChar, this.onadvaPisetaChar]
        let lines = [this.linesData.midva, this.linesData.vidva, this.linesData.onadva]
        let frames = [
          {from: 0, to: 100},
          {from: 100, to: 188}
        ]

        this.animations$ = this.trigger$
          .scan((acc, _) => ++acc, -1)
          .filter((count) => count < anims.length)
          .do((count) => {
            this.showAnim = count
          })
          .switchMap((count) => {
            if (count === 0) {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true))
            } else {
              return Observable.zip(
                this.bubble.show$(lines[count]),
                anims[count].play$(false, true),
                this.midvaKazevaChar.playSegment$(frames[count - 1].from, frames[count - 1].to))
            }
          })
          .subscribe()
      },

      onBubbleClicked () {
        this.trigger$.next()
      }
    },

    created () {
      this.trigger$ = new Subject()

      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
      this.$store.dispatch('setNavBackText', 'Kotiček za ednino')
      this.$store.dispatch('setNavForwardText', 'Kotiček za množino')
    },

    mounted () {
      this.midvaPisevaChar = this.$refs['midva-piseva']
      this.midvaKazevaChar = this.$refs['midva-kazeva']
      this.vidvaPisetaChar = this.$refs['vidva-piseta']
      this.onadvaPisetaChar = this.$refs['onadva-piseta']

      this.bubble = this.$refs.bubble

      this.setupAnimations()

      this.trigger$.next()
    },

    destroyed () {
      if (this.animations$) {
        this.animations$.unsubscribe()
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .bubble {
        z-index: $character-z-index;
    }
</style>
