<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-interactive-target v-for="(target, key) in targetsData"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="target.matchId"
                               :glyph="glyphs[target.glyph]"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="target.pos.x"
                               :posY="target.pos.y"></is-interactive-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
  import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
  import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
  import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

  import background from '@/assets/jedilnica/kuhinja/pripomocki/background.svg'

  import sprites from './JedilniPripomockiAssets'
  import { targetsData, labelsData } from './JedilniPripomockiData'

  export default {
    name: 'is-jedilni-pripomocki-povezovanje',
    mixins: [
      GameBasicMixin,
      StoreLabelsMixin,
      StoreTargetsMixin,
      GameUtilsMixin,
      AnimationsLabelsMixin
    ],
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background: background,
          targetsData: {},
          labelsData: {}
        }
      )
    },

    methods: {
      onDragStopped (dragEl, dragElPos) {
        let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

        if (target) {
          target.setSolved()
          dragEl.setSolved()
          if (this.isGameSolved()) {
            this.startEnd()
          }
        } else {
          dragEl.moveToStartPosition()
        }
      },

      isGameSolved () {
        let solved = this.labels.filter((label) => label.isSolved)
        return solved.length === this.labels.length
      },

      resetScene () {
        this.$refs.endModal.hide()
        this.targets.forEach((target) => target.reset())
        this.labels.forEach((label, key) => label.reset())
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()

        this.introAnim$ = this.animateLabelsToTargets$(this.labels, this.$refs)
          .subscribe(null, null, () => this.startInteraction())
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()
      },

      startEnd () {
        this.setStateToEnd()

        const dialog = this.endDialogs.get(this.$route.name)
        this.$refs.endModal.show(dialog)
      }
    },

    created () {
      this.targetsData = targetsData.get('JedilniPripomocki')
      this.labelsData = labelsData.get(this.$route.name)

      this.labelsData = this.shuffleArray(Object.entries(this.labelsData))
        .reduce((acc, curr) => {
          acc[curr[0]] = curr[1]
          return acc
        }, {})

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.labels.forEach((label) => {
        let b = label.$el.getBoundingClientRect()
        label.setPosition(
          (b.left - this.screenPosition.x) / this.screenScale,
          (b.top - this.screenPosition.y) / this.screenScale
        )
      })

      this.$refs.positioning.classList.remove('positioning')

      this.startIntroAnimation()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
        position: absolute;
        top: 570px;
        left: 0px;

        width: 100%;
        height: 180px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }
</style>
