<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-svg-sprite-pos v-for="(item, key) in itemsData"
                           :key="key"
                           :glyph="glyphs[item.glyph]"
                           :posX="item.pos.x"
                           :posY="item.pos.y"></is-svg-sprite-pos>

        <is-type-in v-for="(input, key) in inputsData"
                    :key="'$i' + key"
                    :ref="'$i' + key"
                    class="inputs end-with-dot"
                    @solved="isGameSolved"
                    @clicked="closeAllInputs()"
                    :solution="input.solution"
                    :preText="input.preText"
                    :isLocked="(gameState !== gameStates.interactive)"
                    :arrowDirection="input.arrowDirection"
                    :openDirection="input.openDirection"
                    :posX="input.pos.x"
                    :posY="input.pos.y"></is-type-in>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
  import TypeInComponent from '@/components/shared/TypeInComponent.vue'

  import background from '@/assets/jedilnica/kuhinja/pripomocki/background.svg'

  import sprites from './JedilniPripomockiAssets'
  import { targetsData, inputsData } from './JedilniPripomockiData'

  export default {
    name: 'is-jedilni-pripomocki-vpisovanje',
    components: {
      'is-type-in': TypeInComponent
    },
    mixins: [
      GameBasicMixin,
      StoreInputsMixin
    ],
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background,
          itemsData: {},
          inputsData: {}
        }
      )
    },

    methods: {
      isGameSolved () {
        let solved = this.inputs.filter((input) => input.isSolved)
        if (solved.length === this.inputs.length) {
          this.closeAllInputs()
          this.startEnd()
        }
      },

      resetScene () {
        this.$refs.endModal.hide()
        this.inputs.forEach((input) => input.reset())
      },

      closeAllInputs () {
        this.inputs.forEach((input) => input.close())
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()
        this.playIntroAnimation()
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()

        Observable.fromEvent(document, 'click')
          .takeWhile(() => this.gameState === this.gameStates.interactive)
          .subscribe((evt) => {
            this.closeAllInputs()
          })
      },

      startEnd () {
        this.setStateToEnd()

        const dialog = this.endDialogs.get(this.$route.name)
        this.$refs.endModal.show(dialog)
      },

      playIntroAnimation () {
        let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
        let randomInput = this.inputs[randomInputIndex]

        this.introAnim$ = randomInput.playSolution$()
          .delay(2000)
          .do(() => randomInput.close())
          .subscribe(
            () => {},
            null,
            () => this.startInteraction())
      }
    },

    created () {
      this.itemsData = targetsData.get('JedilniPripomocki')
      this.inputsData = inputsData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.startIntroAnimation()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .inputs {
        z-index: $drag-z-index;
    }
</style>
