<template>
    <div class="intro">
        <is-navigation @forward="onForwardClicked()"></is-navigation>
        <div v-show="!doWalk">
            <is-svg-sprite :glyph="bgSola"></is-svg-sprite>
            <is-bm-anim class="talk"
                        ref="talk"
                        key="anim-talk"
                        :animationData="solaAnim"
                        :posX="200"
                        :posY="280"></is-bm-anim>
            <is-bubble class="bb-ana left"
                       ref="bbAna"
                       key="bb-ana"
                       :posX="290"
                       :posY="140"></is-bubble>
            <is-bubble class="bb-jakob left"
                       ref="bbJakob"
                       key="bb-jakob"
                       :posX="520"
                       :posY="150"></is-bubble>
        </div>

        <div v-show="doWalk">
            <is-svg-sprite :glyph="bgVhod"></is-svg-sprite>
            <is-bm-anim class="walk"
                        ref="walk"
                        key="anim-walk"
                        :animationData="vhodAnim"
                        :posX="790"
                        :posY="150"></is-bm-anim>
        </div>
    </div>
</template>

<script>
  import SvgSprite from '@/components/core/SvgSprite.vue'
  import BMAnim from '@/components/core/BMAnimation.vue'
  import Bubble from '@/components/shared/BubbleComponent.vue'
  import NavigationMixin from '@/components/core/mixins/NavigationMixin'

  import { Observable } from 'rxjs'

  import bgSola from '@/assets/intro/sola.svg'
  import bgVhod from '@/assets/intro/vhod.svg'

  import jakobAnaBack from '@/assets/intro/jakob-ana-back.svg'

  import solaAnim from '@/assets/intro/animations/pozdravna-animacija.json'
  import vhodAnim from '@/assets/intro/animations/vhod-v-solo.json'

  import { linesData } from './IntroData'

  export default {
    components: {
      'is-svg-sprite': SvgSprite,
      'is-bm-anim': BMAnim,
      'is-bubble': Bubble
    },
    mixins: [NavigationMixin],
    name: 'is-intro-animation',
    data () {
      return {
        bgSola: bgSola,
        bgVhod: bgVhod,
        jakobAnaBack: jakobAnaBack,
        solaAnim: solaAnim,
        vhodAnim: vhodAnim,
        doWalk: false
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      }
    },

    methods: {
      talkAnimation$ () {
        return this.talkSegment$(1, 120, linesData.jakob1, this.talk, this.bbJakob)
          .flatMap(() => this.talkSegment$(120, 220, linesData.ana1, this.talk, this.bbAna))
          .flatMap(() => this.talkSegment$(220, 280, linesData.jakob2, this.talk, this.bbJakob))
          .flatMap(() => this.talkSegment$(280, 374, linesData.ana2, this.talk, this.bbAna))
      },

      talkSegment$ (start, end, text, anim, bubble) {
        return Observable.zip(
          bubble.show$(text),
          anim.playSegment$(start, end))
          .do(() => bubble.hide())
      },

      startTalkAnimation () {
        this.talkSub$ = this.talkAnimation$().subscribe(() => this.startWalkAnimation())
      },

      stopTalkAnimation () {
        if (this.talkSub$) {
          this.talkSub$.unsubscribe()
        }
      },

      startWalkAnimation () {
        this.$store.dispatch('setShowNavForward', false)
        this.doWalk = true

        this.walkSub$ = this.walk.play$().subscribe(() => {
          const route = this.forwardRoutes.get(this.$route.name)
          this.$router.push({name: route})
        })
      },

      stopWalkAnimation () {
        if (this.walkSub$) {
          this.walkSub$.unsubscribe()
        }
      },

      onForwardClicked () {
        this.stopTalkAnimation()
        this.startWalkAnimation()
      }
    },

    created () {
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.talk = this.$refs.talk
      this.walk = this.$refs.walk
      this.bbAna = this.$refs.bbAna
      this.bbJakob = this.$refs.bbJakob

      this.startTalkAnimation()
    },

    destroyed () {
      this.stopTalkAnimation()
      this.stopWalkAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/layout';

    .intro {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .talk, .walk {
        z-index: $character-z-index;
    }
</style>
