<template>
    <div>
        <img src="../../assets/naslovnica.png"/>
        <is-navigation @forward="onForwardClicked()"></is-navigation>
    </div>
</template>

<script>
  import NavigationMixin from '@/components/core/mixins/NavigationMixin'

  export default {
    name: 'is-intro-title',
    mixins: [NavigationMixin],
    data () {
      return {
        title: 'Interaktivna Šola Slovenščine'
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      }
    },

    methods: {
      continueInFullScreen () {
        let requestMethod = document.documentElement.requestFullScreen ||
          document.documentElement.webkitRequestFullScreen ||
          document.documentElement.mozRequestFullScreen ||
          document.documentElement.msRequestFullScreen || ''

        if (requestMethod) {
          // requestMethod.call(document.documentElement)
        }
      },

      onForwardClicked () {
        const route = this.forwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      }
    },

    created () {
      this.$store.dispatch('setShowNavForward', true)
      this.$store.dispatch('setPulseNavForward', true)
    }
  }
</script>

<style lang="scss" scoped>
    h1 {
        font-size: 48px;
    }

    .btn-continue {
        text-align: center;
    }

</style>
