<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-interactive-target v-for="(glyph, key) in glyphs"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="targetsData[key].matchId"
                               :glyph="glyph"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="targetsData[key].pos.x"
                               :posY="targetsData[key].pos.y"></is-interactive-target>

        <is-bm-anim class="characters"
                    ref="characters"
                    key="anim-characters"
                    :animationData="charactersAnim"
                    :posX="1004"
                    :posY="400"></is-bm-anim>

        <is-bubble class="bubble right"
                   ref="bubble"
                   key="bubble"
                   :posX="840"
                   :posY="300"></is-bubble>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      class="white compact"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
  import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
  import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
  import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

  import background from '@/assets/ucilnice/slovenci/background.svg'
  import charactersAnim from '@/assets/ucilnice/slovenci/animations/kdoJeTo.json'

  import sprites from './SlovenciAssets'
  import { targetsData, labelsData, linesData } from './KdoJeToData'

  export default {
    name: 'is-kdo-je-to',
    mixins: [
      GameBasicMixin,
      StoreLabelsMixin,
      StoreTargetsMixin,
      GameUtilsMixin,
      AnimationsLabelsMixin
    ],
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background,
          targetsData: {},
          labelsData: {},
          linesData: {},
          charactersAnim: charactersAnim
        }
      )
    },

    methods: {
      onDragStopped (dragEl, dragElPos) {
        let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

        if (target) {
          target.setSolved()
          dragEl.setSolved()
          if (this.isGameSolved()) {
            this.startEnd()
          }
        } else {
          dragEl.moveToStartPosition()
        }
      },

      isGameSolved () {
        let solved = this.labels.filter((label) => label.isSolved)
        return solved.length === this.labels.length
      },

      resetScene () {
        this.$refs.endModal.hide()
        this.targets.forEach((target) => target.reset())
        this.labels.forEach((label, key) => label.reset())
        this.bubble.hide()
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()

        let label = this.labels[Math.floor(Math.random() * this.labels.length)]

        this.introAnim$ = this.animateLabelsToTargets$([label], this.$refs)
          .delay(1000)
          .flatMap(() => Observable.zip(
            this.bubble.show$(this.linesData.poskusi),
            this.characters.play$(false, true))
            .do(() => this.bubble.hide()))
          .subscribe(null, null, () => this.startInteraction())
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }

        this.bubble.hide()
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()
      },

      startEnd () {
        this.setStateToEnd()

        const dialog = this.endDialogs.get(this.$route.name)
        this.$refs.endModal.show(dialog)
      }
    },

    created () {
      this.targetsData = targetsData.get(this.$route.name)
      this.labelsData = labelsData.get(this.$route.name)
      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.labels.forEach((label) => {
        let b = label.$el.getBoundingClientRect()
        label.setPosition(
          (b.left - this.screenPosition.x) / this.screenScale,
          (b.top - this.screenPosition.y) / this.screenScale
        )
      })

      this.$refs.positioning.classList.remove('positioning')

      this.characters = this.$refs.characters
      this.bubble = this.$refs.bubble

      this.startIntroAnimation()
      // this.startInteraction()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../styles/layout';

    .positioning {
        position: absolute;
        top: 462px;
        left: 0px;

        width: 1068px;
        height: 288px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .characters {
        pointer-events: none;
    }
</style>
