<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-zoom-in v-for="(glyph, key) in glyphs"
                    :key="'$z' + key"
                    :ref="'$z' + key"
                    :glyph="glyph"
                    @clicked="zoomMeIn"
                    :text="itemsData[key].text"
                    :posX="itemsData[key].pos.x"
                    :posY="itemsData[key].pos.y"
                    :isLocked="isLocked"></is-zoom-in>

        <is-bm-anim class="characters"
                    ref="characters"
                    key="anim-characters"
                    :animationData="charactersAnim"
                    :posX="1004"
                    :posY="400"></is-bm-anim>

        <is-bubble class="bubble right"
                   ref="bubble"
                   key="bubble"
                   :posX="960"
                   :posY="250"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import ZoomInComponent from '@/components/shared/ZoomInComponent'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import background from '@/assets/ucilnice/slovenci/background.svg'
  import charactersAnim from '@/assets/ucilnice/slovenci/animations/kdoJeTo.json'

  import sprites from './SlovenciAssets'
  import { itemsData, linesData } from './SlovenciIntroData'

  export default {
    name: 'is-slovenci-intro',
    components: {
      'is-zoom-in': ZoomInComponent
    },
    mixins: [
      GameBasicMixin
    ],
    data () {
      let glyphs = Object.keys(sprites).reduce((acc, val) => {
        acc[val] = sprites[val]
        return acc
      }, {})

      return Object.assign(
        {},
        {glyphs},
        {
          background,
          itemsData: {},
          linesData: {},
          charactersAnim: charactersAnim,
          lockInteraction: false
        }
      )
    },
    computed: {
      isLocked () {
        return this.gameState !== this.gameStates.interactive || this.lockInteraction
      }
    },

    methods: {
      zoomMeIn (target) {
        const zoom$ = Observable.of('')
          .do(() => {
            this.lockInteraction = true
          })
          .do(() => target.zoomIn())
          .delay(3000)
          .do(() => target.zoomOut())
          .delay(500)
          .do(() => {
            target.isZoomedIn = false
            this.lockInteraction = false
          })

        Observable.zip(
          this.characters.play$(false, true),
          zoom$)
          .subscribe()
      },

      resetScene () {
        this.stopIntroAnimation()
        this.interactive.forEach((item) => {
          item.zoomOut()
          item.isZoomedIn = false
        })
      },

      startIntroAnimation () {
        this.resetScene()
        this.setStateToIntro()

        this.introAnim$ = Observable.zip(
          this.bubble.show$(this.linesData.kdo),
          this.characters.play$(false, true))
          .do(() => this.bubble.hide())
          .subscribe(
            () => {
            },
            null,
            () => this.startInteraction())
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }

        this.bubble.hide()
      },

      startInteraction () {
        this.resetScene()
        this.setStateToInteractive()
      }
    },

    created () {
      this.itemsData = itemsData.get(this.$route.name)
      this.linesData = linesData.get(this.$route.name)

      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.interactive = Object.keys(this.$refs)
        .filter(val => val.includes('$z'))
        .map(key => this.$refs[key][0])

      this.characters = this.$refs.characters
      this.bubble = this.$refs.bubble

      this.startIntroAnimation()
      // this.startInteraction()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../styles/layout';

    .glyph {
        cursor: pointer;
        pointer-events: all;
    }

    .animate {
        transition: all 3s ease-out;

        transform: translate(600px, 200px) scale(2.5);
    }

    .characters {
    }

    .bubble {
        z-index: $ui-z-index;
    }
</style>
