<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-position :posX="93" :posY="317" :class="{highlight: highlight === 'ucitelj'}">
            <is-svg-sprite :glyph="ucitelj" class="ucitelj"></is-svg-sprite>
        </is-position>
        <is-position :posX="258" :posY="426" :class="{highlight: highlight === 'alex'}">
            <is-svg-sprite :glyph="alex" class="alex"></is-svg-sprite>
        </is-position>
        <is-position :posX="623" :posY="432" :class="{highlight: highlight === 'maja'}">
            <is-svg-sprite :glyph="maja" class="maja"></is-svg-sprite>
        </is-position>

        <is-bm-anim class="ana-kaze"
                    :class="{highlight: (highlight === 'ana')}"
                    ref="anaKaze"
                    key="anim-ana-kaze"
                    :animationData="anaKaze"
                    :posX="469"
                    :posY="428"></is-bm-anim>

        <is-bm-anim class="jakob-kaze"
                    :class="{highlight: highlight === 'jakob'}"
                    ref="jakobKaze"
                    key="anim-jakob-kaze"
                    :animationData="jakobKaze"
                    :posX="694"
                    :posY="415"></is-bm-anim>

        <is-bm-anim class="uciteljica-kaze"
                    :class="{highlight: (highlight === 'uciteljica')}"
                    ref="uciteljicaKaze"
                    key="anim-uciteljica-kaze"
                    :animationData="uciteljicaKaze"
                    :posX="381"
                    :posY="336"></is-bm-anim>

        <is-bubble class="bb-ana left"
                   ref="bbAna"
                   key="bb-ana"
                   :posX="512"
                   :posY="268"></is-bubble>

        <is-bubble class="bb-jakob left"
                   ref="bbJakob"
                   key="bb-jakob"
                   :posX="774"
                   :posY="264"></is-bubble>

        <is-bubble class="bb-uciteljica left"
                   ref="bbUciteljica"
                   key="bb-uciteljica"
                   :posX="431"
                   :posY="176"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import PositionComponent from '@/components/shared/PositionComponent.vue'
  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import background from '@/assets/ucilnice/besede/intro/background.svg'

  import alex from '@/assets/ucilnice/besede/intro/alex.svg'
  import maja from '@/assets/ucilnice/besede/intro/maja.svg'
  import ucitelj from '@/assets/ucilnice/besede/intro/ucitelj.svg'

  import anaKaze from '@/assets/ucilnice/besede/intro/animations/ana-kaze-govori.json'
  import jakobKaze from '@/assets/ucilnice/besede/intro/animations/jakob-kaze-govori.json'
  import uciteljicaKaze from '@/assets/ucilnice/besede/intro/animations/uciteljica-kaze-govori.json'

  import { lines } from './BesedeIntroData'

  export default {
    name: 'is-besede-intro',
    mixins: [GameBasicMixin],
    components: {
      'is-position': PositionComponent
    },
    data () {
      return {
        background: background,
        alex: alex,
        maja: maja,
        ucitelj: ucitelj,
        anaKaze: anaKaze,
        jakobKaze: jakobKaze,
        uciteljicaKaze: uciteljicaKaze,
        animationFinished: false,
        highlight: ''
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      },
      backwardRoutes () {
        return this.$store.state.sceneRoutes.backwardRoutes
      }
    },

    methods: {
      navigateBack () {
        let route = this.backwardRoutes.get(this.$route.name)
        this.$router.push({name: route})
      },

      navigateForward () {
        if (this.animationFinished) {
          let route = this.forwardRoutes.get(this.$route.name)
          this.$router.push({name: route})
        } else {
          this.stopIntroAnimation()
          this.afterAnimation()
        }
      },

      startIntroAnimation () {
        this.introAnim$ = this.animSegment(0, 80, this.jakobPoint, this.bbJakob, lines.jakob1)
          .do(() => { this.highlight = 'uciteljica' })
          .flatMap(() => this.animSegment(80, 170, this.jakobPoint, this.bbJakob, lines.jakob2))
          .do(() => { this.highlight = 'ucitelj' })
          .flatMap(() => this.animSegment(170, 260, this.jakobPoint, this.bbJakob, lines.jakob3))
          .do(() => { this.highlight = 'jakob' })
          .flatMap(() => this.animSegment(100, 213, this.teacherPoint, this.bbTeacher, lines.uciteljica1))
          .do(() => { this.highlight = 'ana' })
          .flatMap(() => this.animSegment(0, 100, this.teacherPoint, this.bbTeacher, lines.uciteljica2))
          .do(() => { this.highlight = 'maja' })
          .flatMap(() => this.animSegment(0, 100, this.anaPoint, this.bbAna, lines.ana1))
          .do(() => { this.highlight = 'alex' })
          .flatMap(() => this.animSegment(100, 214, this.anaPoint, this.bbAna, lines.ana2))
          .flatMap(() => this.animSegment(0, 80, this.jakobPoint, this.bbJakob, lines.jakob4))
          .do(() => { this.highlight = '' })
          .flatMap(() => this.animSegment(0, 100, this.anaPoint, this.bbAna, lines.ana3))
          .subscribe(this.afterAnimation)
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }

        this.bbAna.hide()
        this.bbJakob.hide()
        this.bbTeacher.hide()

        this.animationFinished = true
      },

      afterAnimation () {
        this.highlight = ''
        this.animationFinished = true
        this.$store.dispatch('setNavForwardText', 'Začni')
        this.$store.dispatch('setPulseNavForward', true)
      },

      animSegment (start, end, anim, bubble, text) {
        return Observable.zip(
          bubble.show$(text),
          anim.playSegment$(start, end))
          .do(() => bubble.hide())
      }
    },

    created () {
      this.$store.dispatch('setShowNavBack', true)
      this.$store.dispatch('setShowNavForward', true)
    },

    mounted () {
      this.anaPoint = this.$refs.anaKaze
      this.jakobPoint = this.$refs.jakobKaze
      this.teacherPoint = this.$refs.uciteljicaKaze
      this.bbAna = this.$refs.bbAna
      this.bbJakob = this.$refs.bbJakob
      this.bbTeacher = this.$refs.bbUciteljica

      this.startIntroAnimation()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .highlight, .highlight svg {
        -webkit-filter: drop-shadow(0px 0px 10px limegreen);
        filter: drop-shadow(0px 0px 10px limegreen);
    }
</style>
