<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">

        <is-svg-sprite v-if="open1" class="vrata ena" :glyph="vrata1"></is-svg-sprite>
        <is-svg-sprite v-if="open2" class="vrata dva" :glyph="vrata2"></is-svg-sprite>
        <is-svg-sprite v-if="open3" class="vrata tri" :glyph="vrata3"></is-svg-sprite>

        <is-button v-if="open1"
                   @clicked="goToUcilnica(1)"
                   key="btn-one"
                   class="big"
                   :posX="142"
                   :posY="285">Vstopi
        </is-button>
        <is-button v-if="open2"
                   @clicked="goToUcilnica(2)"
                   key="btn-two"
                   class="big"
                   :posX="572"
                   :posY="285">Vstopi
        </is-button>
        <is-button v-if="open3"
                   @clicked="goToUcilnica(3)"
                   key="btn-three"
                   class="big"
                   :posX="1003"
                   :posY="285">Vstopi
        </is-button>

        <div v-if="!open1" class="click-area one" @click="openDoor('vrata1')"></div>
        <div v-if="!open2" class="click-area two" @click="openDoor('vrata2')"></div>
        <div v-if="!open3" class="click-area three" @click="openDoor('vrata3')"></div>
    </is-game>
</template>

<script>
  import Button from '@/components/shared/ButtonComponent.vue'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

  import background from '@/assets/ucilnice/background.svg'
  import vrata1 from '@/assets/ucilnice/vrata-1.svg'
  import vrata2 from '@/assets/ucilnice/vrata-2.svg'
  import vrata3 from '@/assets/ucilnice/vrata-3.svg'

  export default {
    name: 'is-intro-animation',
    mixins: [GameBasicMixin],
    components: {
      'is-button': Button
    },
    data () {
      return {
        background: background,
        vrata1: vrata1,
        vrata2: vrata2,
        vrata3: vrata3,
        open1: false,
        open2: false,
        open3: false
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      }
    },

    methods: {
      goToUcilnica (id) {
        const routes = this.forwardRoutes.get(this.$route.name)
        switch (id) {
          case 1:
            this.$router.push({name: routes.besede})
            break
          case 2:
            this.$router.push({name: routes.slovnica})
            break
          case 3:
            this.$router.push({name: routes.slovenci})
            break
        }
      },

      openDoor (id) {
        this.open1 = id === 'vrata1'
        this.open2 = id === 'vrata2'
        this.open3 = id === 'vrata3'
      }
    },

    created () {
      this.$store.dispatch('setShowNavBack', true)
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../styles/layout';

    .vrata {
        position: absolute;

        &.ena {
            top: 189px;
            left: 102px;
        }
        &.dva {
            top: 189px;
            left: 532px;
        }
        &.tri {
            top: 189px;
            left: 963px;
        }
    }

    .button {
        z-index: $ui-z-index;
    }

    .click-area {
        position: absolute;

        width: 202px;
        height: 420px;

        background-color: transparent;

        cursor: pointer;

        top: 216px;

        &.one {
            left: 102px;
        }
        &.two {
            left: 532px;
        }
        &.three {
            left: 963px;
        }
    }

</style>
