<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-button @clicked="goTo('malica')"
                   class="btn-go-to violet"
                   key="btn-go-to-malica"
                   :posX="526"
                   :posY="40">Malica
        </is-button>

        <is-button @clicked="goTo('kosilo')"
                   class="btn-go-to violet"
                   key="btn-go-to-kosilo"
                   :posX="860"
                   :posY="40">Kosilo
        </is-button>

        <is-button @clicked="goTo('kuhinja')"
                   class="btn-go-to violet"
                   key="btn-go-to-kuhinja"
                   :posX="1166"
                   :posY="144">Kuhinja
        </is-button>

        <is-button @clicked="goTo('sadje')"
                   class="btn-go-to violet"
                   key="btn-go-to-sadje"
                   :posX="555"
                   :posY="555">To je sadje
        </is-button>

        <is-button @clicked="goTo('zelenjava')"
                   class="btn-go-to violet"
                   key="btn-go-to-zelenjava"
                   :posX="936"
                   :posY="555">To je zelenjava
        </is-button>

        <is-bm-anim class="jakob"
                    ref="jakob"
                    key="anim-jakob"
                    :animationData="jakobGovoriAnim"
                    :posX="1154"
                    :posY="450"></is-bm-anim>

        <is-bm-anim class="jem-pijem"
                    ref="jemPijem"
                    key="anim-jem-pijem"
                    :animationData="jemPijemAnim"
                    :posX="234"
                    :posY="230"></is-bm-anim>

        <is-bm-anim class="lacen-zejen"
                    ref="lacenZejen"
                    key="anim-lacen-zejen"
                    :animationData="lacenZejenAnim"
                    :posX="64"
                    :posY="426"></is-bm-anim>

        <is-bubble class="jakob right"
                   ref="bbJakob"
                   key="bb-jakob"
                   :posX="980"
                   :posY="298"></is-bubble>

        <is-bubble class="bb-lacen-zejen left"
                   ref="bbLacenZejen"
                   key="bb-lacen-zejen"
                   :posX="212"
                   :posY="284"></is-bubble>

        <is-bubble class="bb-jem-pijem left"
                   ref="bbJemPijem"
                   key="bb-jem-pijem"
                   :posX="330"
                   :posY="98"></is-bubble>
    </is-game>
</template>

<script>
  import { Observable } from 'rxjs'

  import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
  import Button from '@/components/shared/ButtonComponent.vue'

  import background from '@/assets/jedilnica/jedilnica/background.svg'
  import jakobGovoriAnim from '@/assets/jedilnica/jedilnica/animations/jakob-govori.json'
  import jemPijemAnim from '@/assets/jedilnica/jedilnica/animations/jem-pijem.json'
  import lacenZejenAnim from '@/assets/jedilnica/jedilnica/animations/lacen-zejen.json'

  import { lines } from './JedilnicaData'

  export default {
    name: 'is-jedilnica-container',
    mixins: [
      GameBasicMixin
    ],
    components: {
      'is-button': Button
    },
    data () {
      return {
        background: background,
        jakobGovoriAnim: jakobGovoriAnim,
        jemPijemAnim: jemPijemAnim,
        lacenZejenAnim: lacenZejenAnim
      }
    },
    computed: {
      forwardRoutes () {
        return this.$store.state.sceneRoutes.forwardRoutes
      }
    },

    methods: {
      goTo (destination) {
        const routes = this.forwardRoutes.get(this.$route.name)
        switch (destination) {
          case 'sadje':
            this.$router.push({name: routes.sadje})
            break
          case 'zelenjava':
            this.$router.push({name: routes.zelenjava})
            break
          case 'malica':
            this.$router.push({name: routes.malica})
            break
          case 'kosilo':
            this.$router.push({name: routes.kosilo})
            break
          case 'kuhinja':
            this.$router.push({name: routes.kuhinja})
            break
        }
      },

      startIntroAnimation () {
        this.introAnim$ = Observable.timer(2000)
          .flatMap(() => Observable.zip(
            this.bbJakob.show$(lines.jakob),
            this.jakob.play$(false, true))
            .do(() => this.bbJakob.hide()))
          .flatMap(() => Observable.timer(1000))
          .flatMap(() => this.animSegment(0, 90, this.lacenZejen, this.bbLacenZejen, lines.lacen))
          .flatMap(() => this.animSegment(0, 900, this.lacenZejen, this.bbLacenZejen, lines.zejen))
          .flatMap(() => Observable.timer(1000))
          .flatMap(() => this.animSegment(250, 340, this.lacenZejen, this.bbLacenZejen, lines.lacna))
          .flatMap(() => this.animSegment(250, 340, this.lacenZejen, this.bbLacenZejen, lines.zejna))
          .flatMap(() => Observable.timer(1000))
          .flatMap(() => this.animSegment(0, 40, this.jemPijem, this.bbJemPijem, lines.jem))
          .flatMap(() => this.animSegment(40, 90, this.jemPijem, this.bbJemPijem, lines.pijem))
          .subscribe()
      },

      stopIntroAnimation () {
        if (this.introAnim$) {
          this.introAnim$.unsubscribe()
        }

        this.bbJakob.hide()
        this.bbJemPijem.hide()
        this.bbLacenZejen.hide()
      },

      animSegment (start, end, anim, bubble, text) {
        return Observable.zip(
          bubble.show$(text),
          anim.playSegment$(start, end))
          .do(() => bubble.hide())
      }
    },

    created () {
      this.$store.dispatch('setShowNavBack', true)
    },

    mounted () {
      this.jakob = this.$refs.jakob
      this.jemPijem = this.$refs.jemPijem
      this.lacenZejen = this.$refs.lacenZejen
      this.bbJakob = this.$refs.bbJakob
      this.bbJemPijem = this.$refs.bbJemPijem
      this.bbLacenZejen = this.$refs.bbLacenZejen

      this.startIntroAnimation()
    },

    destroyed () {
      this.stopIntroAnimation()
    }
  }
</script>

<style scoped>
  @import '../../../styles/layout.scss';

  .btn-go-to {
    z-index: $ui-z-index;
  }
</style>
